<Plugin "ping">
  {{- range $container := ls "/self/service/containers" }}
    {{- if ne (getv (printf "/self/service/containers/%s/primary_ip" $container)) (getv "/self/container/primary_ip") }}
      Host "{{ getv (printf "/self/service/containers/%s/primary_ip" $container) }}"
    {{- end -}}
  {{- end }}
</Plugin>
